<footer class="footer">
  <p>(C)Copyright {{year}} RtBrick, Inc. All rights reserved.</p>
  <p>The information contained herein is subject to change without notice.
    The trademarks, logos and service marks ("Marks") displayed in this documentation are the property of RtBrick in the United States and other countries.
    Use of the Marks are subject to RtBrick’s Term of Use Policy, available at https://www.rtbrick.com/privacy.
    Use of marks belonging to other parties is for informational purposes only.</p>
  <p>
    Made with <a href="https://github.com/rtbrick/rtbrick-antora-ui">RtBrick Antora UI</a>, which is licensed under the MPL-2.0 license.
    Includes portions of <a href="https://squidfunk.github.io/mkdocs-material/">Material for MkDocs</a>, which is licensed under the MIT license.
  </p>
</footer>
