:root {
  /* colors */
  --color-white: #fff;
  --color-smoke-10: #fefefe;
  --color-smoke-30: #fafafa;
  --color-smoke-50: #f5f5f5;
  --color-smoke-70: #f0f0f0;
  --color-smoke-90: #e1e1e1;
  --color-gray-10: #c1c1c1;
  --color-gray-30: #9c9c9c;
  --color-gray-40: #8e8e8e;
  --color-gray-50: #808080;
  --color-gray-70: #5d5d5d;
  --color-jet-20: #4a4a4a;
  --color-jet-30: #424242;
  --color-jet-50: #333;
  --color-jet-70: #222;
  --color-jet-80: #191919;
  --color-black: #000;
  /* rtbrick-colors */
  --rtbrick-green: 94, 180, 95;
  --color-rtbrick-green: rgba(var(--rtbrick-green));
  --rtbrick-yellow: 238, 183, 96;
  --color-rtbrick-yellow: rgba(var(--rtbrick-yellow));
  --rtbrick-sky-blue: 230, 241, 255;
  --color-rtbrick-sky-blue: rgba(var(--rtbrick-sky-blue));
  --rtbrick-gray: 58, 75, 76;
  --color-rtbrick-gray: rgba(var(--rtbrick-gray));
  --rtbrick-pink: 213, 42, 104;
  --color-rtbrick-pink: rgba(var(--rtbrick-pink));
  --rtbrick-blue: 79, 187, 204;
  --color-rtbrick-blue: rgba(var(--rtbrick-blue));
  --color-rtbrick-font: var(--color-rtbrick-gray);
  /* code highlighitng colors */
  --hl-color-number: rgb(213, 42, 42);
  --hl-color-string: rgb(28, 125, 77);
  --hl-color-special: rgb(219, 20, 87);
  --hl-color-title: rgb(168, 70, 185);
  --hl-color-constant: rgb(110, 89, 217);
  --hl-color-keyword: rgb(63, 110, 198);
  --hl-color-meta: rgba(0, 0, 0, 0.54);
  --hl-color-operator: rgba(0, 0, 0, 0.54);
  --hl-color-punctuation: rgba(0, 0, 0, 0.54);
  --hl-color-comment: rgba(0, 0, 0, 0.54);
  /* fonts */
  --rem-base: 18; /* used to compute rem value from desired pixel value (e.g., calc(18 / var(--rem-base) * 1rem) = 18px) */
  --body-font-size: 1.0625em; /* 17px */
  --body-font-size--desktop: 1.125em; /* 18px */
  --body-font-size--print: 0.9375em; /* 15px */
  --body-line-height: 1.15;
  --body-font-color: var(--color-jet-70);
  --body-font-family: "Open Sans", sans-serif;
  --body-font-weight-bold: bold;
  --monospace-font-family: "JetBrains Mono", monospace;
  --monospace-font-weight-bold: bold;
  /* base */
  --body-background: var(--color-white);
  --panel-background: var(--color-white);
  --panel-border-color: var(--color-smoke-90);
  --scrollbar-track-color: var(--color-smoke-30);
  --scrollbar-thumb-color: var(--color-gray-10);
  --scrollbar_hover-thumb-color: var(--color-gray-30);
  /* navbar */
  --navbar-background: var(--color-rtbrick-pink);
  --navbar-font-color: var(--color-white);
  --navbar_hover-background: var(--color-rtbrick-gray);
  --navbar-button-background: var(--color-white);
  --navbar-button-border-color: var(--panel-border-color);
  --navbar-button-font-color: var(--body-font-color);
  --navbar-menu-border-color: var(--panel-border-color);
  --navbar-menu-background: var(--color-white);
  --navbar-menu-font-color: var(--color-white);
  --navbar-menu_hover-background: var(--color-smoke-50);
  /* nav */
  --nav-background: var(--panel-background);
  --nav-border-color: var(--color-gray-10);
  --nav-line-height: 1.35;
  --nav-heading-font-color: var(--color-jet-30);
  --nav-muted-color: var(--color-gray-70);
  --nav-panel-divider-color: var(--color-smoke-90);
  --nav-secondary-background: var(--color-smoke-70);
  /* toolbar */
  --toolbar-background: var(--panel-background);
  --toolbar-border-color: var(--panel-border-color);
  --toolbar-font-color: var(--color-gray-70);
  --toolbar-muted-color: var(--color-gray-40);
  --page-version-menu-background: var(--color-smoke-70);
  --page-version-missing-font-color: var(--color-gray-40);
  /* admonitions */
  --caution-border-color: rgb(var(--rtbrick-sky-blue));
  --caution-color: rgba(var(--rtbrick-sky-blue), 0.15);
  --caution-on-color: var(--color-black);
  --important-border-color: rgb(var(--rtbrick-pink));
  --important-color: rgba(var(--rtbrick-pink), 0.15);
  --important-on-color: var(--color-black);
  --note-border-color: rgb(var(--rtbrick-blue));
  --note-color: rgba(var(--rtbrick-blue), 0.15);
  --note-on-color: var(--color-black);
  --tip-border-color: rgb(var(--rtbrick-green));
  --tip-color: rgba(var(--rtbrick-green), 0.15);
  --tip-on-color: var(--color-black);
  --warning-border-color: rgb(var(--rtbrick-pink));
  --warning-color: rgba(var(--rtbrick-pink), 0.15);
  --warning-on-color: var(--color-black);
  /* doc */
  --doc-font-color: var(--color-rtbrick-font);
  --doc-font-size: inherit;
  --doc-font-size--desktop: calc(17 / var(--rem-base) * 1rem);
  --doc-line-height: 1.7;
  --doc-margin: 0 1rem;
  --doc-margin--desktop: var(--doc-margin);
  --heading-font-color: rgba(var(--rtbrick-pink), 0.87);
  --heading-font-weight: 300;
  --top-heading-font-color: rgba(0, 0, 0, 0.54);
  --alt-heading-font-weight: var(--body-font-weight-bold);
  --section-divider-color: var(--panel-border-color);
  --link-font-color: var(--color-rtbrick-pink);
  --link_hover-font-color: var(--color-rtbrick-blue);
  --link_unresolved-font-color: var(--important-border-color);
  --abstract-background: var(--color-smoke-70);
  --abstract-font-color: var(--color-jet-20);
  --abstract-border-color: var(--panel-border-color);
  --admonition-background: var(--panel-background);
  --admonition-label-font-weight: var(--body-font-weight-bold);
  --caption-font-color: var(--color-gray-70);
  --caption-font-weight: var(--body-font-weight-bold);
  --code-background: var(--color-rtbrick-sky-blue);
  --table-code-background: var(--color-smoke-30);
  --code-font-color: var(--body-font-color);
  --example-background: var(--color-white);
  --example-border-color: var(--color-gray-40);
  --kbd-background: var(--panel-background);
  --kbd-border-color: var(--color-gray-10);
  --pre-background: var(--color-rtbrick-sky-blue);
  --pre-border-color: var(--panel-border-color);
  --pre-annotation-font-color: var(--color-gray-50);
  --quote-background: var(--panel-background);
  --quote-border-color: var(--color-gray-70);
  --quote-font-color: var(--color-gray-70);
  --quote-attribution-font-color: var(--color-gray-40);
  --sidebar-background: var(--color-rtbrick-sky-blue);
  --table-border-color: var(--panel-border-color);
  --table-stripe-background: var(--panel-background);
  --table-footer-background: linear-gradient(to bottom, var(--color-smoke-70) 0%, var(--color-white) 100%);
  /* toc */
  --toc-font-color: var(--nav-muted-color);
  --toc-heading-font-color: var(--doc-font-color);
  --toc-border-color: var(--panel-border-color);
  --toc-line-height: 1.2;
  /* footer */
  --footer-line-height: var(--doc-line-height);
  --footer-background: var(--color-rtbrick-gray);
  --footer-font-color: rgba(255, 255, 255, 0.7);
  --footer-link-font-color: rgba(255, 255, 255, 0.9);
  /* dimensions and positioning */
  --navbar-height: calc(52 / var(--rem-base) * 1rem);
  --toolbar-height: calc(45 / var(--rem-base) * 1rem);
  --drawer-height: var(--toolbar-height);
  --body-top: var(--navbar-height);
  --body-min-height: calc(100vh - var(--body-top));
  --nav-height: calc(var(--body-min-height) - var(--toolbar-height));
  --nav-height--desktop: var(--body-min-height);
  --nav-panel-menu-height: calc(100% - var(--drawer-height));
  --nav-panel-explore-height: calc(50% + var(--drawer-height));
  --nav-width: calc(270 / var(--rem-base) * 1rem);
  --toc-top: calc(var(--body-top) + var(--toolbar-height));
  --toc-height: calc(100vh - var(--toc-top) - 2.5rem);
  --toc-width: calc(162 / var(--rem-base) * 1rem);
  --toc-width--widescreen: calc(216 / var(--rem-base) * 1rem);
  --doc-max-width: calc(720 / var(--rem-base) * 1rem);
  --doc-max-width--desktop: calc(1400 / var(--rem-base) * 1rem);
  --body-max-width: calc(var(--doc-max-width--desktop) + var(--toc-width--widescreen) + var(--nav-width));
  /* stacking */
  --z-index-nav: 1;
  --z-index-toolbar: 2;
  --z-index-page-version-menu: 3;
  --z-index-navbar: 4;
}
